.fondo{
	background-color: blue;
	color: red;
	border: solid;
}

.cont{
	color: black;
	border: solid;
}

.num1{
	color: blue;
	border: solid;
}

.num2{
	color: blue;
	border: solid;
}

.num3{
	color: blue;
	border: solid;
}

.num4{
	color: blue;
	border: solid;
}